.main-container h1{
    font-family: "Inter", sans-serif;
    font-size: 2.09408032rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
}

.main-container{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}


.container h2{
    font-family: "Inter", sans-serif;
    font-size: 1.29424rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1D1D1F;
    margin-top: 1.2rem;
}

.container{
    margin-top: 5%;
    background-color: #D9D9D9;
    padding: 5%;
}

.container p{
    font-family: "Inter", sans-serif;
    width: 90%;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
    margin-top: 1.2rem;
}